DATABASE_URL='postgresql://neondb_owner:npg_6TZU4fKQRoaB@ep-patient-wildflower-ahe08xd0-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
ENVIRONMENT=development
LOG_LEVEL=info
SECRET_KEY=VqZfJhT_8RwY6bNfDxq-WZCF7u0L0pYkjX3KoAt9S1vE

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=86400